/*
 *= require bootstrap
 *= require jasny-bootstrap
*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nounderline{text-decoration: none !important}

.underline{text-decoration: underline !important}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #9933cc;
}

@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}